

body {
  background-image: url("aq.jpg");
}

#background {
  background-color: salmon;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding-bottom: 50px;
  padding-top: 20px;
}

h1 {
  margin:auto;
  width: 300px;
  text-align: center;
  font-family: 'Pacifico', cursive;
}

table {
  text-align: right;
  margin: auto;
  background-color: white;
  border-spacing: 0px;
  border-collapse: collapse;
}

.title {
  float: left;
  width: 200px;
  text-align: right;
  padding-right: 10px;
}

.form-input {
  margin: 10px;
  width: 400px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

#submit {
  margin-left: 150px;
}

#form {
  width: 40%;
  margin-left: 20px;
}

th, td {
  padding: 2px;
  border: 1px solid black;
  padding: 5px;
}

tr:hover {
  background-color: lightblue;
}
