body {
  background-color: salmon;
}

h1 {
  margin:auto;
  background-image: url("salmon.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  text-align: center;
  line-height: 350px;
  font-size: 40px;
  font-family: 'Pacifico', cursive;
}
